<app-header></app-header>
<div class="container p-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <p class="ctitle mb-0 maincolor">Login</p>
                        </div>
                    </div>
                    <form action="" method="post" name="login">
                        <div class="form-group mb-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input [(ngModel)]="email" type="email" name="email" class="form-control maincolor"
                                id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input [(ngModel)]="password" type="password" name="password" id="password"
                                class="form-control maincolor" aria-describedby="emailHelp"
                                placeholder="Enter Password">
                        </div>
                        <div class="col-md-12 text-center mt-3">
                            <button type="button" (click)="signIn()" class="btn btn-sm btn-solid ">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>